{% extends "base.html" %}

{% block jumbotron %}

<div class="jumbotron">
	<h1 class="text-center">
		{{ latest.title }}
	</h1>
	<p>
		{{ latest.text }}
	</p>
	<p> .</p>
	<p class="text-right">
			<a class="btn btn-primary btn-large" href="#">Learn more</a>
	</p>
</div>
{% endblock %}

{% block text %}

    {% for post in others %}
        <div class="col-md-3 column">
            <h2>{{ post.title }}</h2>
            <p>{{ post.text|linebreaksbr }}</p>
            <p class="text-right">
			<a class="btn" href="#">Learn more</a>
	        </p>
        </div>
    {% endfor %}
<div class="col-md-12 column">
<div style="text-align:center">
    <audio id='musicplayer'controls autoplay>
        <!--{% load staticfiles %}-->		
		<source src="{%static '' %}{{song_audio_file_url}}" type="audio/mpeg">
    </audio>
</div>
</div>

{% endblock %}