{% extends "base.html" %}
{% block jumbotron %}
    <a class="btn btn-primary btn-large" href="/blog/re">更新一下</a>
    {% for post in posts %}
        <div class="jumbotron">
            <p class="text-right">发布于 {{ post.published_date }}</p>
            <h1 class="text-center"><a href="{% url 'blog' %}{{post.id}}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
            <p class="text-right">
			<a class="btn btn-primary btn-large" href="#">Learn more</a>
	        </p>
        </div>

    {% endfor %}
{% endblock %}


{% block text %}

{% endblock %}