<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>踢叉喵ヽ(✿ﾟ▽ﾟ)ノ</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
    <div>
        <h1><a href="">踢叉叉 喵喵喵喵喵</a></h1>

        <h3><a href="">龟神が我が敌を喰らう</h3>
        <h6><a href="">竜神の剣を喰らえ</h6>

    <div>
        <audio controls>
            {% load staticfiles %}
            <source src="{% static 'musics/LaCampanella.mp3' %}" type="audio/mpeg">
        </audio>
    </div>

</body>
</html>

