<!DOCTYPE HTML>
{% load staticfiles %}
<html>
<head>
<meta charset="utf-8">
<title>Σ(っ ° Д °;)っ踢叉喵!!!∑(° Д° ノ)ノ </title>

<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

<!-- 可选的Bootstrap主题文件（一般不用引入） -->
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>



<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
<link rel="stylesheet" href="{% static 'css/musicplayer.css' %}">
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<style type="text/css">
h2.pos_abs
{
    position:absolute;
    bottom:150px
}
p.thicker {font-weight: 9000}
</style>

<style>

body
{
    background-image:url({% static 'pics/fox2.jpg' %});
    background-repeat: no-repeat;
    background-position: middle;
    background-attachment: fixed;
    background-size: cover;
}

</style>
</head>


<!--<body background="{%static 'pics/background.jpg'%}">-->
<div class="page_header">
    <p class="thicker">
    <h1 style="text-align:center"><a href="">踢叉叉 喵喵喵喵喵</a></h1>
    <h1 style="text-align:center"><a href="">Σ(っ ° Д °;)っ踢叉喵!!!∑(° Д° ノ)ノ</a></h1>
    
    </p>
</div>


<h3 style="text-align:center;"><a href="/blog">Blogs,GO!</h3>







<h3 style="text-align:center"></h3>
<h3 style="text-align:center"></h3>
<h3 style="text-align:center"><a href="">龟が我が敌を喰らう</h3>
<h3 style="text-align:center"></h3>
<h3 style="text-align:center"></h3>
<h6 style="text-align:center"><a href="">竜神の剣を喰らえ</h6>

<p>背景图片是固定的。尝试向下滚动页面。</p>
<p>背景图片是固定的。尝试向下滚动页面。</p>
<p>背景图片是固定的。尝试向下滚动页面。</p>
<p>背景图片是固定的。尝试向下滚动页面。</p>
<p>背景图片是固定的。尝试向下滚动页面。</p>
<p>背景图片是固定的。尝试向下滚动页面。</p>
<p>背景图片是固定的。尝试向下滚动页面。</p>
<p>背景图片是固定的。尝试向下滚动页面。</p>
<p>背景图片是固定的。尝试向下滚动页面。</p>
<p>背景图片是固定的。尝试向下滚动页面。</p>
<p>背景图片是固定的。尝试向下滚动页面。</p>
<p>背景图片是固定的。尝试向下滚动页面。</p>
<p>背景图片是固定的。尝试向下滚动页面。</p>
<p>背景图片是固定的。尝试向下滚动页面。</p>
<p>背景图片是固定的。尝试向下滚动页面。</p>
<p>背景图片是固定的。尝试向下滚动页面。</p>
<p>背景图片是固定的。尝试向下滚动页面。</p>
<p>背景图片是固定的。尝试向下滚动页面。</p>
<p>背景图片是固定的。尝试向下滚动页面。</p>
<p>背景图片是固定的。尝试向下滚动页面。</p>
<p>背景图片是固定的。尝试向下滚动页面。</p>
<p>背景图片是固定的。尝试向下滚动页面。</p>
<p>背景图片是固定的。尝试向下滚动页面。</p>
<p>背景图片是固定的。尝试向下滚动页面。</p>
<p>背景图片是固定的。尝试向下滚动页面。</p>
<p>背景图片是固定的。尝试向下滚动页面。</p>
<p>背景图片是固定的。尝试向下滚动页面。</p>
<p>背景图片是固定的。尝试向下滚动页面。</p>
<p>背景图片是固定的。尝试向下滚动页面。</p>
<p>背景图片是固定的。尝试向下滚动页面。</p>
<p>背景图片是固定的。尝试向下滚动页面。</p>
<p>背景图片是固定的。尝试向下滚动页面。</p>
<p>背景图片是固定的。尝试向下滚动页面。</p>
<p>背景图片是固定的。尝试向下滚动页面。</p>
<div style="text-align:center">
    <audio id='musicplayer'controls autoplay>
        {% load staticfiles %}
        <source src="{% static 'musics/LaCampanella.mp3' %}" type="audio/mpeg">
    </audio>

</div>


<div style="float:right;clear:both;">
<a href="https://github.com/TX-QAQ">
    <img border="0" src="{% static 'pics/github.png' %}" />
</a>
</div>



<script>
mp=document.getElementById("musicplayer");
function getVolume()
{
    alert(mp.volume);
}
function setHalfVolume()
{ 
    mp.volume=1;
}
setTimeout(setHalfVolume,0.1) 
function setFullVolume()
{ 
    mp.volume=1.0;
}
</script> 


</body>
</html>

