h1 a
{
    color: #FFFFFF;
}

/*h3
{
    display:inline
}*/
.page_header
{
    background-color: #00AAAA;
    margin-top: 5;
    padding: 1px 5px 1px 5px;
    
}
.page_header h1, .page_header h1 a, .page_header h1 a:visited, .page_header h1 a:active 
{
    color: #ffffff;
    font-size: 30pt;
    text-decoration: none;
}